---
layout: default
title: Home
published: true
---

<h1>Blog Posts</h1>
<div class="posts">
  {% for post in paginator.posts %}
  <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}/{{ post.url }}">{{ post.title }}</a></li>
  <!--
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  -->
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

<h1>Highlighted Media</h1>
<div class="posts">
  <li><span> 27 Jan 2014</span> &raquo; <a href="http://www.wired.co.uk/article/phil-rosenzweig">Article: WIRED - Phil Rosenzweig: 'entrepreneurs need two brains -- one left, one right'</a></li>
</div>

<h1>Other Talks, Papers etc</h1>
<div class="posts">
  <li><span>25 Jul 2010</span> &raquo; <a href="http://dl.acm.org/citation.cfm?id=1837890">The anaotmy of a large-scale human computation engine</a>, <small>in HCOMP '10 Proceedings of the ACM SIGKDD Workshop on Human Computation, with <i>Praveen Paritosh and Stefano Mazzocchi</i><small></li>
</div>
